<nav id="header" class="navbar navbar-expand-md navbar-custom">
    <a class="navbar-brand" th:href="@{/home}">
        <img th:src="@{/img/logo.png}" width="200" alt="logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">  </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login-page}">
                    <i class="fas fa-sign-in-alt"></i> Sign in
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">
                    <i class="fas fa-user-plus"></i> Sign up
                </a>
            </li>
        </ul>
    </div>
</nav>