<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <style>
        .dropdown-item.active, .dropdown-item:focus, .bootstrap-select .btn {
            background-color: white;
            color: #000000;
        }
    </style>
</head>

<body>

<div th:replace="fragments/header :: #header"></div>
<br>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/profile-navbar :: #profileMenu"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 mr-5">
            <div class="col-9">
                <h2 th:if="${id == null}">New Address</h2>
                <h2 th:if="${id != null}">Edit address</h2>
                <hr>
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

                <!--/*@thymesVar id="address" type="com.javaschool.domainlogic.user.profile.dto.address.EditAddressDto"*/-->
                <form th:object="${address}" th:action="@{${action}}" method="post" lang="en">

                    <input th:if="${id != null}" type="number" hidden th:field="*{id}">

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="street">Street*</label>
                            <input type="text" class="form-control" id="street" placeholder="Main St"
                                   required th:field="*{street}">
                            <p class="error" th:if="${#fields.hasErrors('street')}"
                               th:errors="*{street}">
                                Street Error</p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="building">Building*</label>
                            <input type="text" class="form-control" id="building" placeholder="1234"
                                   th:field="*{building}" required>
                            <p class="error" th:if="${#fields.hasErrors('building')}"
                               th:errors="*{building}">Building Error</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="apartment">Apartment</label>
                            <input type="text" class="form-control" id="apartment" placeholder="1"
                                   th:field="*{apartment}">
                            <p class="error" th:if="${#fields.hasErrors('apartment')}"
                               th:errors="*{apartment}">Apartment Error</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country*</label>

                            <select class="form-control selectpicker d-block w-100" id="country" required
                                    th:field="*{countryId}">
                                <!--/*@thymesVar id="country" type="com.javaschool.domainlogic.order.checkout.dto.CountryDto"*/-->
                                <!--/*@thymesVar id="countries" type="java.util.List<com.javaschool.domainlogic.order.checkout.dto.CountryDto>"*/-->
                                <option th:each="country : ${countries}"
                                        th:value="${country.id}" th:text="${country.name}">Country
                                </option>
                            </select>
                            <p class="error" th:if="${#fields.hasErrors('countryId')}"
                               th:errors="*{countryId}">Country Error</p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="town">Town*</label>
                            <select class="form-control selectpicker d-block w-100" id="town"
                                    th:field="*{townId}"
                                    data-none-selected-text required>
                                <option value="-1">Choose town</option>
                                <!--/*@thymesVar id="town" type="com.javaschool.domainlogic.order.checkout.dto.TownDto"*/-->
                                <!--/*@thymesVar id="towns" type="java.util.List<com.javaschool.domainlogic.order.checkout.dto.TownDto>"*/-->
                                <option th:each="town : ${towns}"
                                        th:value="${town.id}"
                                        th:text="${town.name}"
                                        th:selected="${address.townId == town.id}">Town
                                </option>
                            </select>
                            <p class="error" th:if="${#fields.hasErrors('townId')}"
                               th:errors="*{townId}">
                                Town Error</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Postal code*</label>
                            <input type="text" class="form-control" id="zip" placeholder="94115" required
                                   th:field="*{postalCode}">
                            <p class="error" th:if="${#fields.hasErrors('postalCode')}"
                               th:errors="*{postalCode}">Postal Code Error</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark save-button">Save</button>
                </form>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: #footer"></div>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/user/address.js}"></script>

</body>
</html>