<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="fragments/header :: #header"></div>
<br>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/profile-navbar :: #profileMenu"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 mr-5">
            <div class="col-9">
                <h2> Change password </h2>
                <hr>
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

                <!--/*@thymesVar id="changePasswordDto" type="com.javaschool.domainlogic.user.profile.dto.password.ChangePasswordDto"*/-->
                <form th:object="${changePasswordDto}" th:action="@{/profile/change-password}" method="post" lang="en">

                    <div class="row mb-3">
                        <label for="currentPassword" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="currentPassword" placeholder="Password"
                                   th:field="*{currentPassword}" required maxlength="20">
                            <p class="error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">
                                Password Error
                            </p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="newPassword" class="col-sm-3 col-form-label">New password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="newPassword" placeholder="New password"
                                   th:field="*{newPassword}" required maxlength="20">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Your password must be 8-20 characters long, contain at least 1 uppercase letter and 1
                                number, and must not contain spaces.
                            </small>
                            <p class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                                New Password Error
                            </p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password"
                                   th:field="*{confirmPassword}" required maxlength="20">
                            <p class="error"
                               th:if="${#fields.hasGlobalErrors()}"
                               th:each="error : ${#fields.errors('global')}"
                               th:text="${error}">
                               Validation error
                            </p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark save-button">Save</button>
                </form>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: #footer"></div>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>

</body>
</html>