<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/genre.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <title>Orders</title>
</head>

<body>
<div th:replace="fragments/header :: #header"></div>

<div class="container-fluid wrapper">
    <div class="row">
        <div th:replace="fragments/admin-navbar :: #adminMenu"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="col-11">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2" id="caption">Orders</h1>
                </div>
                <table class="table table-striped" id="order-table" aria-describedby="caption">
                    <thead>
                    <tr>
                        <th id="id">Id</th>
                        <th id="created">Created</th>
                        <th id="address">Address</th>
                        <th id="recipient">Recipient</th>
                        <th id="delivery">Delivery</th>
                        <th>Payment method</th>
                        <th>Order status</th>
                    </tr>
                    </thead>
                    <tr th:each="order, iter : ${orders}">
                        <td th:text="${order.id}" hidden="true"> NA</td>
                        <td th:text="${iter.index + 1}"> NA</td>
                        <td th:text="${order.createdDate}">NA</td>
                        <td class="parse-new-line" th:text="${order.address}">NA</td>
                        <td class="parse-new-line" th:text="${order.recipientContacts}">NA</td>
                        <td th:text="${order.shippingCompany}">NA</td>
                        <td th:text="${order.paymentMethod}">NA</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle"
                                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        th:text="${order.orderStatus}"></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:each="status : ${orderStatusList}"
                                       th:text="${status}"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: #footer"></div>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/admin/orders.js}"></script>


</body>
</html>