<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <title>Stats</title>
</head>
<body>

<div th:replace="fragments/header :: #header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/admin-navbar :: #adminMenu"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Year profit</h1>
            </div>

            <div class="col-11">
                <!--            <h1> Year profit </h1>-->
                <table class="table table-striped">
                    <thead >
                    <tr>
                        <th>MONTH</th>
                        <th>PROFIT</th>
                    </tr>
                    </thead>
                    <tr th:each="profit : ${salesStats.yearProfit}">
                        <td th:text="${profit.key}">NA</td>
                        <td th:text="${profit.value}">NA</td>
                    </tr>
                </table>
            </div>

            <div class="col-11">
                <p th:text="'Last week profit: ' + ${salesStats.lastWeekProfit}"></p>
            </div>

            <div class="col-11">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Best customers</h1>
                </div>
                <table class="table table-striped">
                    <thead >
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Number of orders</th>
                    </tr>
                    </thead>
                    <tr th:each="customer : ${customerStats.bestCustomers}">
                        <td th:text="${customer.firstName}"> NA</td>
                        <td th:text="${customer.lastName}">NA</td>
                        <td th:text="${customer.email}">NA</td>
                        <td th:text="${customer.numberOfOrders}">NA</td>
                    </tr>
                </table>
            </div>

            <div class="col-11">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"> Best products </h1>
                </div>
                <table class="table table-striped">
                    <thead >
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Units sold</th>
                    </tr>
                    </thead>
                    <tr th:each="product, iter : ${productStats.topProducts}">
<!--                        <td th:text="${product.id}"> NA</td>-->
                        <td th:text="${iter.index + 1}"> NA</td>
                        <td th:text="${product.name}">NA</td>
                        <td th:text="${product.unitsSold}">NA</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</div>

<br>
<div th:replace="fragments/footer :: #footer"></div>

</body>
</html>